.headerContainer {
}

.header {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 0.5fr;
  margin-bottom: 4rem;
}
.headerTitle {
  display: grid;
  color: white;
  border-bottom: 0.01rem solid white;
  padding: 1rem;
}
.headerSubtitle {
  display: grid;
  justify-self: center;
  color: white;
}
